<%= render "title" %>

<div class="form_background" id="edit_form">
  <%= render 'if_errors_block' %>

  <div class="title">Edit guest</div>

  <%= render 'update_guest_form' %>

  <%= link_to "Back to #{@event.name}", event_path(@event) %>
</div>
