<%= flash[:notice] %>

<div class="title"><%= "#{@event.name} - Table Size: #{@event.table_size_limit}" %></div>
<br />

<ul class="vertical menu" data-accordion-menu>
  <li>
    <a href="#">Guests</a>
    <ul class="menu vertical nested">
      <%= render 'guest_list_table' %>
    </ul>
  </li>
</ul>

<br />
<%= link_to "Add a guest", new_event_guest_path(@event) %>
