<div id="seating_arrangement_background">
  <% @event.tables.each do |table| %>
    <div class="form_background table_background">
      <ul>Table <%="#{@table_num} Seated: #{table.count}"%>
        <% table.all.each do |guest| %>
          <li><%="#{guest.first_name} #{guest.last_name}"%></li>
          <% @guest_count += 1 %>
        <%end%>
      </ul>
    </div>
    <% @table_num += 1 %>
  <% end %>

  <div class="form_background table_background">
    Total Guests: <%= "#{@guest_count}" %>
    <br>
    <%= link_to "Back to #{@event.name}", event_path(@event), :class => "button" %>
  </div>

</div>
