/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

body {
  background-image: url("https://s3.us-east-2.amazonaws.com/tableone/6150.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.event-list {
  margin-top: 20px;
}

#all_plusones {
  list-style: none;
}

#plusone_0 {
  display: none
}

.form_background {
  background-color: lightblue;
  margin: auto;
  margin-top: 50px;
  width: 500px;
  padding: 30px;
  border-radius: 40px;
  background: rgba(173, 216, 230, 0.8);
}

.button {
  background-color: #BC4676;
  background: rgba(188, 70, 118, 0.8);
}
