body {
  background-image: url("https://s3.us-east-2.amazonaws.com/tableone/6150.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.event-list {
  margin-top: 20px;
}

#all_plusones {
  list-style: none;
  text-align: center;
}

#plusone_0 {
  display: none;
  text-align: center;
}

.form_background {
  background-color: lightblue;
  margin: auto;
  margin-top: 50px;
  width: 500px;
  padding: 30px;
  border-radius: 40px;
  background: rgba(173, 216, 230, 0.8);
}

.button {
  background-color: #BC4676;
  background: rgba(188, 70, 118, 0.8);
}

label {
  text-align: center;
  font-family: cursive;
  font-size: 15px;
}

#remember_me {
  text-align: center;
}

input::-webkit-input-placeholder {
color: Gray;
}

.actions {
  margin: 0px 15px;
}

#side_radio_buttons {
  text-align: center;
}
